.tela-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    background-color:rgb(204, 201, 201);
    padding: 80px;
    margin-top: 8%;
    margin-left: 35%;
    border-radius: 9px; 
    box-shadow: 5px 5px 15px rgb(0,0,0,0.2);
}

.title {
    font-weight: bold;
}

button {
background-color: #70a652;
color: white;
font-weight: bold;
font-size: 15px;
height: 30px;
width: 75px;
margin-top: 10px;
border-radius: 8px ;
cursor: pointer;
}

button:hover {
    background-color: #a7cc93;
}

input {
    height: 20px;
    width: 250px;
    margin-top: 10px;
    border-radius: 5px;
}